.MuiTab-root.Mui-selected {
    color: white !important;
    background-color: #023047 !important;
    border: 1px solid #023047;
}

.tab {
    width: 46%;
    border: 1px solid #023047 !important;
    font-size: medium !important;
    text-transform: none !important;
}

.css-1qltlow-MuiTabs-indicator {
    background-color: #023047 !important;
}