server:
  port: 8080

# 连远程mysql
spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://8.130.52.237:3306/gym_database?serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true
    username: gym_database
    password: GziXwBri4DRrHYsk

  redis:
    host: redis                         # **必须改** –– 服务名即容器名
    port: 6379
    password: root@123456               # 与 compose 里 redis --requirepass 保持一致
#    host:localhost
#    port:6379

  #临时解决方案
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  mail:
    host: smtp.gmail.com
    port: 587
    username: wxinran543@gmail.com      # 替换为你的 Gmail 邮箱地址
    password: dlgyysvqolbcljep          # 替换为你的 Gmail 应用专用密码
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          debug: true

jwt:
  secret: "YourJWTSecretKey"
  expiration: 86400000

mybatis-plus:
  mapper-locations: classpath*:mapper/*.xml
  type-aliases-package: gym-common.com.gym.entity
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl


knife4j:
  locale: en

tencent:
  captcha:
    secretId: AKIDBMaeYFj293kDXeXCgx3wb4KNCpGMFuLZ
    secretKey: 4uZ3KNCqJZbUAfwzrY1JRL4Zrxtc7QZX
    # 验证码产品中的ID
    captchaAppId: 190688044
    # 验证码产品中的AppSecretKey（服务器端密钥）
    appSecretKey: QeG8lEob0R2iZlhNS1SlZwK0h


google:
  clientId: "642557482063-q866pb3tlp0blvso126q2i2si40qn6oh.apps.googleusercontent.com"

#server:
#  port: 8080
#
#spring:
#  profiles:
#    active: dev
#  main:
#    allow-circular-references: true
#  datasource:
#    druid:
#      driver-class-name: ${sky.datasource.driver-class-name}
#      url: jdbc:mysql://${sky.datasource.host}:${sky.datasource.port}/${sky.datasource.database}?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
#      username: ${sky.datasource.username}
#      password: ${sky.datasource.password}

#sky:
#  jwt:
#    # 设置jwt签名加密时使用的秘钥
#    admin-secret-key: itcast
#    # 设置jwt过期时间
#    admin-ttl: 7200000
#    # 设置前端传递过来的令牌名称
#    admin-token-name: token
